.floating-lines-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.floating-lines-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
